body {
  padding: 0;
  margin: 0;
  background: #E9EBEE !important;
  font-size: small;
}

img {
  width: 100%;
  transform: unset !important;
}

.images{
  padding: 0 !important;
}

hr {
  width: 95%;
  border: solid 0.5px rgb(218, 218, 218);
  margin: 10px auto 0 auto !important;
}

.App {
  max-width: 500px;
  margin: 20px auto;
  padding: 15px;
}

.Post{
  margin-bottom: 20px;
}

.Post, .App {
  background: #fff;
  border: solid 1px rgb(218, 218, 218);
  border-radius: 3px;
}

.containerr {
  overflow: hidden;
  padding: 10px 0;
}

.avatar {
  float: left;
  margin: 0 10px;
}

.avatar img {
  width: 40px;
  border-radius: 50px;
}

.nameAndTime {
  float: left;
}

.name {
  font-weight: bold;
  color: #3563be;
}

.time {
  color: #666;
}

.caption {
  padding: 0 10px;
}

.images {
  padding: 10px 0;
}

.engagementDetails {
  padding: 0 10px;
  color: #606770;
}

.engagement {
  position: relative;
}

.engagement span.oneThird {
  font-weight: bold;
  color: #444;
  transition: .2s;
  margin: 5px 0;
  width: 33.33%;
  display: inline-block;
  text-align: center;
  padding: 5px 0;
}

.engagement span:hover {
  cursor: pointer;
  background: #f3f3f3;
}

.reactions {
  position: absolute;
  left: 0;
  top: -50px;
  background: #fff;
  padding: 5px;
  border-radius: 50px;
  box-shadow: 0px 1px 3px 0px #999;
}

#zama-emoji {
  padding: 0 5px;
}

.zama-emoji.sm {
  transition: .2s;
}

.zama-emoji.sm:hover {
  cursor: pointer;
  transform: scale(0.4);
  position: relative;
  top: -5px;
}